<div class="card position-absolute top-50 start-50 translate-middle" style="width: 18rem;">
    <h5 class="card-title ">Pokedex</h5>
    <img [src]="poke.img" class="card-img-top" id="img" alt="...">
    <div class="card-body">
      <h5 class="card-title">Nome do pokemon Num#</h5>
      <p class="card-text">altura, peso, habilidade, tipo, fraqueza</p>
      <a href="#" class="btn btn-primary" (click)="Voltar()">Voltar</a>
      <a href="#" class="btn btn-primary" (click)="proximo()">Próximo</a>
    </div>
 </div>


